.Nav button{

    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color:  red;
}

.Nav ul {
    
    display: flex;
    text-align: right;
    
    list-style-type: none;
    column-gap: 1rem;

    
}